<style>

.message-body {
	background: #fafafa;
	color: #444;
	font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
	width: 600px;
	margin: auto;
	padding: 20px;
}

table {
	border-collapse: collapse;
	border: 1px solid #6464FF;
    border-bottom-width: 3px;
    width: 100%;
}

th {
    padding: 10px;
    vertical-align: top;
    font-weight: bold;
    background: #6464FF;
    color: #fff;
    border-left: 1px solid #fff;
}

th.first {
    border-left: none;
}

td {
    padding: 5px;
    vertical-align: top;
    border: 1px solid #ccc;
    background: #fff;
 }

tr.row1 td {
	background: #fafafa;
}

</style>
